- 要預測第五天的 tested_positive.

In [ ]:
class Trainer():
  def __init__(self, train_loader, valid_loader, model, config, device):
    # self.save_hyperparameters(ignore=['ignore'])
    criterion = nn.MSELoss(reduction='mean') # Define your loss function, do not modify this.
    writer = SummaryWriter() # Writer of tensoboard.
    if not os.path.isdir('./models'):
            os.mkdir('./models') # Create directory of saving models.

        n_epochs, best_loss, step, early_stop_count = config['n_epochs'], math.inf, 0, 0

    for epoch in range(n_epochs):
        model.train() # Set your model to train mode.
        loss_record = []

        # tqdm is a package to visualize your training progress.
        train_pbar = tqdm(train_loader, position=0, leave=True)

        for x, y in train_pbar:
            self.optimizer.zero_grad()               # Set gradient to zero.
            x, y = x.to(device), y.to(device)   # Move your data to device. 
            pred = model(x)             
            loss = criterion(pred, y)
            loss.backward()                     # Compute gradient(backpropagation).
            self.optimizer.step()                    # Update parameters.
            step += 1
            loss_record.append(loss.detach().item())
            
            # Display current epoch number and loss on tqdm progress bar.
            train_pbar.set_description(f'Epoch [{epoch+1}/{n_epochs}]')
            train_pbar.set_postfix({'loss': loss.detach().item()})

        mean_train_loss = sum(loss_record)/len(loss_record)
        writer.add_scalar('Loss/train', mean_train_loss, step)

        model.eval() # Set your model to evaluation mode.
        loss_record = []
        for x, y in valid_loader:
            x, y = x.to(device), y.to(device)
            with torch.no_grad():
                pred = model(x)
                loss = criterion(pred, y)

            loss_record.append(loss.item())
            
        mean_valid_loss = sum(loss_record)/len(loss_record)
        print(f'Epoch [{epoch+1}/{n_epochs}]: Train loss: {mean_train_loss:.4f}, Valid loss: {mean_valid_loss:.4f}')
        writer.add_scalar('Loss/valid', mean_valid_loss, step)

        if mean_valid_loss < best_loss:
            best_loss = mean_valid_loss
            torch.save(model.state_dict(), config['save_path']) # Save your best model
            print('Saving model with loss {:.3f}...'.format(best_loss))
            early_stop_count = 0
        else: 
            early_stop_count += 1

        if early_stop_count >= config['early_stop']:
            print('\nModel is not improving, so we halt the training session.')
            return

    def optimizer(self):
        return torch.optim.SGD(
        model.parameters(), 
        lr = config['learning_rate'], 
        momentum=0.9
        )

In [1]:
%matplotlib inline
import numpy as np
import torch
from torch import nn
from d2l import torch as d2l

In [85]:
d2l.add_to_class()

In [86]:
trainer = Trainer()

TypeError: Trainer.__init__() missing 5 required positional arguments: 'train_loader', 'valid_loader', 'model', 'config', and 'device'

In [72]:
m = 2
class A():
  def __init__(self,x):
    super(A,self).__init__()
    self.x = x
  def t(self):
    return self.x
    
a = A(3)
a.t()

3

In [73]:
A.parameters()

AttributeError: type object 'A' has no attribute 'parameters'

In [40]:
class A():
  def __init__(self,x):
    self.tt = self.t() + x
    print("fuck")
  def t(self):
    return 2

a = A(3)
a.tt

fuck

5

In [53]:
print(a.t())

2

In [33]:
@d2l.add_to_class(A)
def t(self):
  return 2*self.x

a.t()

6

In [68]:
exec('''for i in range(2):print(2)
''')

2
2

### csv 讀取成 pandas

- 要選擇 features, 所以要令出選取 column 的 index, 叫做 `XXX_idx`

-

In [11]:
import pandas as pd

# index_col = 0: 把第一個 column 當成 index
df0 = pd.read_csv('covid.train.csv', index_col = 0)
df1 = pd.read_csv('covid.test.csv', index_col = 0)

In [12]:
df0=(df0-df0.mean())/df0.std()
df1=(df1-df1.mean())/df1.std()

In [13]:
df0

,AL,AK,AZ,AR,CA,CO,CT,FL,GA,ID,...,work_outside_home.4,shop.4,restaurant.4,spent_time.4,large_event.4,public_transit.4,anxious.4,depressed.4,worried_finances.4,tested_positive.4
id,,,,,,,,,,,,,,,,,,,,,
0,-0.18247,-0.153306,-0.175864,-0.170187,-0.184627,-0.153306,-0.166699,6.520468,-0.15952,-0.153306,...,-0.497704,0.375942,0.454340,-1.121859,-0.626113,-0.281985,-0.671085,-0.854542,0.691637,-0.367421
1,-0.18247,-0.153306,-0.175864,-0.170187,-0.184627,6.520468,-0.166699,-0.153306,-0.15952,-0.153306,...,0.235301,-0.845236,-0.052472,-0.221926,-0.635917,0.108189,-0.788870,-0.024633,-0.642577,-0.281161
2,-0.18247,-0.153306,-0.175864,-0.170187,-0.184627,-0.153306,-0.166699,-0.153306,-0.15952,-0.153306,...,-0.369386,-1.781575,-2.040928,-2.214246,-1.757860,1.229533,-0.693707,-1.274106,0.530023,-1.074723
3,-0.18247,-0.153306,-0.175864,-0.170187,-0.184627,-0.153306,-0.166699,-0.153306,-0.15952,-0.153306,...,0.547478,0.596431,0.785702,0.980457,2.044140,-0.747538,-0.645268,-1.101909,1.065458,0.428580
4,-0.18247,-0.153306,-0.175864,-0.170187,-0.184627,-0.153306,-0.166699,-0.153306,-0.15952,6.520468,...,0.551127,1.411212,0.839743,1.161158,0.765093,-0.046860,-0.918250,-0.327931,-1.795264,1.805002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2695,-0.18247,-0.153306,-0.175864,-0.170187,-0.184627,-0.153306,-0.166699,-0.153306,-0.15952,-0.153306,...,1.616425,-0.267811,0.545902,0.527513,0.554979,-0.924838,1.186968,0.691322,-0.463775,0.562551
2696,-0.18247,-0.153306,-0.175864,-0.170187,-0.184627,-0.153306,-0.166699,-0.153306,-0.15952,-0.153306,...,-1.053577,-0.140919,-0.866604,-1.215775,-0.930387,4.395606,0.513315,0.312132,0.509180,-0.743061
2697,-0.18247,-0.153306,-0.175864,5.873702,-0.184627,-0.153306,-0.166699,-0.153306,-0.15952,-0.153306,...,0.346502,-1.229221,-0.982317,-0.825091,0.165680,-1.080835,2.192317,1.809965,2.109521,0.590658
2698,-0.18247,-0.153306,-0.175864,-0.170187,-0.184627,-0.153306,-0.166699,-0.153306,-0.15952,-0.153306,...,-0.670608,0.409619,-0.209012,0.270561,-0.455128,-0.753752,0.289607,0.064539,-1.428631,-0.047689
2699,-0.18247,-0.153306,-0.175864,-0.170187,-0.184627,-0.153306,-0.166699,-0.153306,-0.15952,-0.153306,...,0.204905,-0.039794,0.901387,-0.972243,-0.228693,0.296561,0.526015,-0.234871,0.806409,0.194367

In [14]:
df0.corr()

,AL,AK,AZ,AR,CA,CO,CT,FL,GA,ID,...,work_outside_home.4,shop.4,restaurant.4,spent_time.4,large_event.4,public_transit.4,anxious.4,depressed.4,worried_finances.4,tested_positive.4
AL,1.000000,-0.027984,-0.032102,-0.031066,-0.033701,-0.027984,-0.030429,-0.027984,-0.029118,-0.027984,...,0.088988,0.093272,0.028427,0.036786,0.123246,-0.171758,0.054629,0.026421,0.123264,0.147200
AK,-0.027984,1.000000,-0.026971,-0.026100,-0.028315,-0.023512,-0.025566,-0.023512,-0.024464,-0.023512,...,0.144486,-0.108391,-0.270281,-0.059218,-0.138172,0.093443,0.217893,0.111132,0.050519,0.112723
AZ,-0.032102,-0.026971,1.000000,-0.029941,-0.032481,-0.026971,-0.029327,-0.026971,-0.028064,-0.026971,...,-0.208684,0.051253,0.135119,-0.076163,-0.006167,0.005543,-0.076597,-0.085160,-0.072737,-0.023748
AR,-0.031066,-0.026100,-0.029941,1.000000,-0.031433,-0.026100,-0.028381,-0.026100,-0.027158,-0.026100,...,0.029859,-0.225934,-0.151511,-0.114410,-0.087761,-0.179184,0.317766,0.308675,0.275965,0.233007
CA,-0.033701,-0.028315,-0.032481,-0.031433,1.000000,-0.028315,-0.030789,-0.028315,-0.029462,-0.028315,...,-0.306352,-0.204846,-0.220360,-0.326808,-0.263110,0.095610,-0.074215,-0.125736,0.104996,-0.111194
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
public_transit.4,-0.171758,0.093443,0.005543,-0.179184,0.095610,0.117609,0.031546,-0.003890,-0.041858,-0.082875,...,-0.332532,0.019601,-0.156940,-0.201122,-0.253871,1.000000,-0.293018,-0.336861,-0.068846,-0.415122
anxious.4,0.054629,0.217893,-0.076597,0.317766,-0.074215,-0.113670,-0.160451,-0.138217,-0.117833,0.137338,...,0.399587,-0.440334,-0.358642,-0.161190,-0.062131,-0.293018,1.000000,0.804138,0.414913,0.631444
depressed.4,0.026421,0.111132,-0.085160,0.308675,-0.125736,-0.057793,-0.183048,-0.168461,-0.075621,0.175134,...,0.377346,-0.239633,-0.182808,0.031747,0.040269,-0.336861,0.804138,1.000000,0.311031,0.493094
worried_finances.4,0.123264,0.050519,-0.072737,0.275965,0.104996,-0.080567,-0.027799,0.050582,0.016044,-0.091237,...,0.063021,-0.365109,-0.209661,-0.447801,-0.027464,-0.068846,0.414913,0.311031,1.000000,0.317566
tested_positive.4,0.147200,0.112723,-0.023748,0.233007,-0.111194,-0.068444,-0.170920,-0.047950,-0.060844,0.265083,...,0.603720,-0.378931,-0.121319,0.026965,0.256786,-0.415122,0.631444,0.493094,0.317566,1.000000

In [15]:
corr = df0.corr().iloc[-1]
abs(corr)

AL                    0.147200
AK                    0.112723
AZ                    0.023748
AR                    0.233007
CA                    0.111194
                        ...
public_transit.4      0.415122
anxious.4             0.631444
depressed.4           0.493094
worried_finances.4    0.317566
tested_positive.4     1.000000
Name: tested_positive.4, Length: 117, dtype: float64

In [16]:
abs(corr) > 0.6

AL                    False
AK                    False
AZ                    False
AR                    False
CA                    False
                      ...
public_transit.4      False
anxious.4              True
depressed.4           False
worried_finances.4    False
tested_positive.4      True
Name: tested_positive.4, Length: 117, dtype: bool

In [17]:
idx = (abs(corr) > 0.7).tolist()

In [18]:
df0.iloc[:,idx].head()

,cli,ili,hh_cmnty_cli,nohh_cmnty_cli,tested_positive,cli.1,ili.1,hh_cmnty_cli.1,nohh_cmnty_cli.1,tested_positive.1,...,cli.3,ili.3,hh_cmnty_cli.3,nohh_cmnty_cli.3,tested_positive.3,cli.4,ili.4,hh_cmnty_cli.4,nohh_cmnty_cli.4,tested_positive.4
id,,,,,,,,,,,,,,,,,,,,,
0,-0.540540,-0.430464,-0.268691,-0.367418,-0.352396,-0.560344,-0.463376,-0.331592,-0.419807,-0.383816,...,-0.550897,-0.462647,-0.362256,-0.464146,-0.361274,-0.522815,-0.438668,-0.371418,-0.454685,-0.367421
1,-0.470980,-0.526431,-0.015996,-0.035347,0.039653,-0.392184,-0.449168,-0.019013,-0.059786,0.062388,...,-0.354725,-0.385741,-0.136155,-0.182015,-0.165540,-0.469571,-0.479674,-0.308724,-0.357254,-0.281161
2,-0.623293,-0.642673,-0.796822,-0.801973,-0.903124,-0.539659,-0.615581,-0.817951,-0.817971,-1.035944,...,-0.804689,-0.894837,-0.855667,-0.810317,-0.986078,-0.920832,-1.025291,-0.879586,-0.812328,-1.074723
3,0.528801,0.649563,-0.382465,-0.542449,0.110563,0.833379,0.944447,-0.270042,-0.468597,-0.058979,...,1.531137,1.429111,-0.124252,-0.324711,0.566567,1.612078,1.510908,-0.132559,-0.294204,0.428580
4,1.051627,1.011459,0.710548,0.716037,2.289864,0.718329,0.550840,0.601024,0.620733,1.272533,...,0.824141,0.659735,0.559678,0.532197,1.631875,0.592772,0.431526,0.562152,0.524135,1.805002

In [19]:
df_train = df0.iloc[:,idx]
df_test = df1.iloc[:,idx[:-1] ]

In [36]:
[ i for i in range(5) if A[i]==False ]

[0, 1, 2, 3, 4]

In [31]:
A = idx[:5]
B = []
for i in range(len(A)):
  if A[i] == False:
    B.append(i)
B

[0, 1, 2, 3, 4]

In [20]:
df_train.head()

,cli,ili,hh_cmnty_cli,nohh_cmnty_cli,tested_positive,cli.1,ili.1,hh_cmnty_cli.1,nohh_cmnty_cli.1,tested_positive.1,...,cli.3,ili.3,hh_cmnty_cli.3,nohh_cmnty_cli.3,tested_positive.3,cli.4,ili.4,hh_cmnty_cli.4,nohh_cmnty_cli.4,tested_positive.4
id,,,,,,,,,,,,,,,,,,,,,
0,-0.540540,-0.430464,-0.268691,-0.367418,-0.352396,-0.560344,-0.463376,-0.331592,-0.419807,-0.383816,...,-0.550897,-0.462647,-0.362256,-0.464146,-0.361274,-0.522815,-0.438668,-0.371418,-0.454685,-0.367421
1,-0.470980,-0.526431,-0.015996,-0.035347,0.039653,-0.392184,-0.449168,-0.019013,-0.059786,0.062388,...,-0.354725,-0.385741,-0.136155,-0.182015,-0.165540,-0.469571,-0.479674,-0.308724,-0.357254,-0.281161
2,-0.623293,-0.642673,-0.796822,-0.801973,-0.903124,-0.539659,-0.615581,-0.817951,-0.817971,-1.035944,...,-0.804689,-0.894837,-0.855667,-0.810317,-0.986078,-0.920832,-1.025291,-0.879586,-0.812328,-1.074723
3,0.528801,0.649563,-0.382465,-0.542449,0.110563,0.833379,0.944447,-0.270042,-0.468597,-0.058979,...,1.531137,1.429111,-0.124252,-0.324711,0.566567,1.612078,1.510908,-0.132559,-0.294204,0.428580
4,1.051627,1.011459,0.710548,0.716037,2.289864,0.718329,0.550840,0.601024,0.620733,1.272533,...,0.824141,0.659735,0.559678,0.532197,1.631875,0.592772,0.431526,0.562152,0.524135,1.805002

In [21]:
df_test.head()

,cli,ili,hh_cmnty_cli,nohh_cmnty_cli,tested_positive,cli.1,ili.1,hh_cmnty_cli.1,nohh_cmnty_cli.1,tested_positive.1,...,tested_positive.2,cli.3,ili.3,hh_cmnty_cli.3,nohh_cmnty_cli.3,tested_positive.3,cli.4,ili.4,hh_cmnty_cli.4,nohh_cmnty_cli.4
id,,,,,,,,,,,,,,,,,,,,,
0,-0.930890,-0.931713,-1.025866,-0.965184,-1.006070,-0.976742,-0.974974,-1.053019,-0.993220,-0.983733,...,-0.867265,-0.880903,-0.875637,-0.903382,-0.860907,-0.881332,-0.945488,-0.941323,-0.898830,-0.855556
1,-1.273315,-1.279161,-1.540384,-1.525288,-1.096891,-1.153870,-1.168289,-1.480267,-1.439207,-1.127271,...,-1.070250,-0.950316,-0.953967,-1.377507,-1.333844,-0.756969,-0.966414,-0.969261,-1.393933,-1.316331
2,-0.982537,-0.989902,-1.349684,-1.337062,-1.199760,-0.995652,-1.006180,-1.344884,-1.317574,-1.302672,...,-1.310869,-1.022595,-1.030635,-1.380364,-1.304600,-1.310496,-1.035748,-1.043241,-1.351916,-1.276986
3,-0.772950,-0.746770,-0.653811,-0.537652,-0.784702,-0.749341,-0.730632,-0.635646,-0.510932,-0.760942,...,-0.744072,-0.821409,-0.791329,-0.601968,-0.475444,-0.799727,-0.809374,-0.780001,-0.596713,-0.465859
4,-0.060565,-0.086018,0.279099,0.312595,0.583510,-0.232711,-0.253037,0.166943,0.158893,0.595379,...,0.390888,-0.267781,-0.264509,0.043620,0.026350,0.278551,-0.403065,-0.405974,-0.062536,-0.109167

## Some Utility Functions

In [124]:
device = 'cuda' if torch.cuda.is_available() else 'cpu'
config = {
    'seed': 666666,      # Your seed number, you can pick your lucky number. :)
    'select_all': False,   # Whether to use all features.
    'valid_ratio': 0.2,   # validation_size = train_size * valid_ratio
    'n_epochs': 3000,     # Number of epochs.            
    'batch_size': 256,
    'learning_rate': 1e-4,              
    'early_stop': 300,    # If model has not improved for this many consecutive epochs, stop training.     
    'save_path': './models/model.ckpt'  # Your model will be saved here.
}

In [122]:
def same_seed(seed): 
    '''
    Fixes random number generator seeds for reproducibility.
    '''
    torch.backends.cudnn.deterministic = True
    torch.backends.cudnn.benchmark = False
    np.random.seed(seed)
    torch.manual_seed(seed)
    if torch.cuda.is_available():
        torch.cuda.manual_seed_all(seed)

def train_valid_split(data_set, valid_ratio, seed):
    '''
    Split provided training data into training set and validation set
    '''
    valid_set_size = int(valid_ratio * len(data_set)) 
    train_set_size = len(data_set) - valid_set_size
    train_set, valid_set = random_split(data_set, 
                                        [train_set_size, valid_set_size], 
                                        generator=torch.Generator().manual_seed(seed)
                                        )
    return np.array(train_set), np.array(valid_set)

def predict(test_loader, model, device):
    model.eval() # Set your model to evaluation mode.
    preds = []
    for x in tqdm(test_loader):
        x = x.to(device)                        
        with torch.no_grad():                   
            pred = model(x)                     
            preds.append(pred.detach().cpu())   
    preds = torch.cat(preds, dim=0).numpy()  
    return preds

In [ ]:
train_data, valid_data = train_valid_split(train_data, config['valid_ratio'], config['seed'])

## Dataset

In [115]:
from torch.utils.data import Dataset, DataLoader
import torch
class COVID19Dataset(Dataset):
    '''
    x: Features.
    y: Targets, if none, do prediction.
    '''
    def __init__(self, x, y=None):
        if y is None:
            self.y = y
        else:
            self.y = torch.FloatTensor(y)
        self.x = torch.FloatTensor(x)

    def __getitem__(self, idx):
        if self.y is None:
            return self.x[idx]
        else:
            return self.x[idx], self.y[idx]

    def __len__(self):
        return len(self.x)

In [ ]:
def select_feat(train_data, valid_data, test_data, select_all=True):
    '''
    Selects useful features to perform regression
    '''
    y_train, y_valid = train_data[:,-1], valid_data[:,-1]
    raw_x_train, raw_x_valid, raw_x_test = train_data[:,:-1], valid_data[:,:-1], test_data

    if select_all:
        feat_idx = list(range(raw_x_train.shape[1]))
    else:
        feat_idx = IDX # TODO: Select suitable feature columns.
        
    return raw_x_train[:,feat_idx], raw_x_valid[:,feat_idx], raw_x_test[:,feat_idx], y_train, y_valid

In [119]:
dataset_train = COVID19Dataset(df_train.values)
dataset_test =

In [72]:
Test = DataLoader(df_train, batch_size=32, shuffle=True, pin_memory=True)
Test

---

---

---

---

---

# Temp

In [ ]:
X = pd.read_csv('covid.train.csv', index_col = 0).iloc[:,:-1]
y = pd.read_csv('covid.train.csv', index_col = 0).iloc[:,-1]

In [ ]:
X.iloc[:5,-1]

id
0    37.329512
1    32.508881
2    36.745588
3    38.680162
4    28.344123
Name: worried_finances.4, dtype: float64

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

K = 66
#apply SelectKBest class to extract top 5 best features
bestfeatures = SelectKBest(score_func=f_regression, k=K)
fit = bestfeatures.fit(X,y)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns
print(featureScores.nlargest(K,'Score'))  #print K best features
print(featureScores.nlargest(40,'Score'))  #print 40 best features

                 Specs         Score
100  tested_positive.3  90072.434014
84   tested_positive.2  42336.373701
68   tested_positive.1  26889.703770
52     tested_positive  18870.558114
103     hh_cmnty_cli.4  11290.799197
..                 ...           ...
111      large_event.4    190.392376
3                   AR    154.832328
12                  IA    125.611478
17                  MA     86.378396
29                  OK     82.127440

[66 rows x 2 columns]
                   Specs         Score
100    tested_positive.3  90072.434014
84     tested_positive.2  42336.373701
68     tested_positive.1  26889.703770
52       tested_positive  18870.558114
103       hh_cmnty_cli.4  11290.799197
87        hh_cmnty_cli.3  10849.626387
104     nohh_cmnty_cli.4  10420.334481
71        hh_cmnty_cli.2  10365.261059
88      nohh_cmnty_cli.3  10055.850241
55        hh_cmnty_cli.1   9859.626910
72      nohh_cmnty_cli.2   9636.425489
39          hh_cmnty_cli   9330.742363
56      nohh_cmnty_cli.1   9180.163057
40        nohh_cmnty_cli   8703.901285
102                ili.4   7857.108153
101                cli.4   7840.264000
86                 ili.3   7669.806263
85                 cli.3   7634.028322
70                 ili.2   7471.141684
69                 cli.2   7427.816024
54                 ili.1   7379.575195
53                 cli.1   7350.432266
38                   ili   7200.100121
37                   cli   7189.723343
113            anxious.4   1788.443917
97             anxious.3   1733.871112
81             anxious.2   1693.103630
65             anxious.1   1662.265853
49               anxious   1615.322127
107  work_outside_home.4   1546.757977
91   work_outside_home.3   1499.556245
75   work_outside_home.2   1444.849855
59   work_outside_home.1   1385.610776
43     work_outside_home   1316.049499
114          depressed.4    866.413744
98           depressed.3    847.891161
66           depressed.1    837.926983
82           depressed.2    837.721774
50             depressed    823.895687
112     public_transit.4    561.528822

In [ ]:
featureScores['Specs']

0                      AL
1                      AK
2                      AZ
3                      AR
4                      CA
              ...
111         large_event.4
112      public_transit.4
113             anxious.4
114           depressed.4
115    worried_finances.4
Name: Specs, Length: 116, dtype: object

In [ ]:
L = list(featureScores.nlargest(24,'Score').index)
L.sort()
L

[37,
 38,
 39,
 40,
 52,
 53,
 54,
 55,
 56,
 68,
 69,
 70,
 71,
 72,
 84,
 85,
 86,
 87,
 88,
 100,
 101,
 102,
 103,
 104]

---

---

---

- 把有 `tested_positive` 的 index 給找出.

In [ ]:
tested_positive_idx = [ df_test.columns.get_loc(c) for c in df_test.columns if "tested_positive" in c ]

In [ ]:
tested_positive_idx

[52, 68, 84, 100]

In [ ]:
df_train.columns[tested_positive_idx]

Index(['tested_positive', 'tested_positive.1', 'tested_positive.2',
       'tested_positive.3'],
      dtype='object')

In [ ]:
df_test.iloc[ : , tested_positive_idx ]

      tested_positive  tested_positive.1  tested_positive.2  tested_positive.3
id
0            7.465515           7.561836           8.423512           8.357021
1            6.807512           6.490388           6.872041           9.318186
2            6.062231           5.181086           5.032925           5.040143
3            9.069323           9.224887           9.365114           8.987720
4           18.982016          19.349288          18.039932          17.321401
...               ...                ...                ...                ...
1073        31.725565          32.370384          33.549062          34.868878
1074        34.299313          34.638818          34.463884          34.440193
1075        33.959697          35.452480          36.884642          36.530228
1076        34.794635          35.637779          35.831536          35.944579
1077        37.020168          37.796104          39.599902          39.724689

[1078 rows x 4 columns]

- google 搜尋 cli 醫學 ili, 搜得 [https://zhuanlan.zhihu.com/p/125776512](https://zhuanlan.zhihu.com/p/125776512)

- 把有 `cli`, `ili` 的 index 給找出.

In [ ]:
cli_ili_idx = [ df_train.columns.get_loc(c) for c in df_train.columns if "cli" in c or "ili" in c ]
df_train.columns[cli_ili_idx]

Index(['cli', 'ili', 'hh_cmnty_cli', 'nohh_cmnty_cli', 'cli.1', 'ili.1',
       'hh_cmnty_cli.1', 'nohh_cmnty_cli.1', 'cli.2', 'ili.2',
       'hh_cmnty_cli.2', 'nohh_cmnty_cli.2', 'cli.3', 'ili.3',
       'hh_cmnty_cli.3', 'nohh_cmnty_cli.3', 'cli.4', 'ili.4',
       'hh_cmnty_cli.4', 'nohh_cmnty_cli.4'],
      dtype='object')

In [ ]:
df_train.iloc[ : , cli_ili_idx ]

,cli,ili,hh_cmnty_cli,nohh_cmnty_cli,cli.1,ili.1,hh_cmnty_cli.1,nohh_cmnty_cli.1,cli.2,ili.2,hh_cmnty_cli.2,nohh_cmnty_cli.2,cli.3,ili.3,hh_cmnty_cli.3,nohh_cmnty_cli.3,cli.4,ili.4,hh_cmnty_cli.4,nohh_cmnty_cli.4
id,,,,,,,,,,,,,,,,,,,,
0,0.658466,0.724606,12.939284,8.556230,0.653157,0.713249,12.488933,8.219380,0.677783,0.737965,12.487637,8.135510,0.666751,0.723506,12.367718,8.006131,0.685628,0.740943,12.364307,8.151578
1,0.693287,0.675962,15.008467,11.091818,0.738029,0.720511,15.070049,10.990937,0.831586,0.827523,14.568504,10.578924,0.767643,0.763580,14.264862,10.212529,0.713255,0.719378,12.894363,8.919288
2,0.617041,0.617041,8.614719,5.238097,0.663597,0.635459,8.472831,5.154184,0.534394,0.497435,8.493353,5.125553,0.536224,0.498305,8.227657,5.298912,0.479111,0.432445,8.067909,5.333533
3,1.193768,1.272051,12.007656,7.219741,1.356577,1.432775,12.997184,7.843776,1.719706,1.690806,14.010509,9.008978,1.737550,1.709244,14.364735,9.096583,1.793346,1.766201,14.383789,9.416096
4,1.455489,1.455489,20.957729,16.829163,1.298511,1.231606,20.189998,16.229791,1.486851,1.420611,20.160351,15.672487,1.373938,1.308346,20.103385,15.798003,1.264465,1.198567,20.257355,15.864201
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2695,1.145121,1.147415,23.482648,19.457059,1.171500,1.163963,23.816931,19.707350,1.196115,1.163842,24.402762,20.106880,1.235034,1.212729,25.647724,21.239042,1.417447,1.401417,26.355591,21.616363
2696,0.693043,0.698368,11.641532,7.894431,0.655551,0.660840,11.519438,7.919253,0.635128,0.635128,11.514569,8.035914,0.563209,0.575010,11.500600,8.295961,0.605297,0.608920,11.135534,8.133172
2697,1.814052,1.771010,29.547019,24.115854,1.728777,1.721787,29.207283,23.868097,1.697214,1.750682,28.339583,23.089998,1.562703,1.617447,27.920069,22.261879,1.477089,1.566401,27.571493,21.874254
2698,0.825505,0.843330,12.735582,9.940158,0.840583,0.829843,13.205292,10.390792,0.779394,0.762963,13.922751,10.847906,0.782203,0.765682,14.029724,10.924375,0.829967,0.825078,14.424899,11.189104
2699,1.219586,1.283302,20.152577,16.069417,1.166967,1.263725,20.322668,16.312243,0.909631,1.041908,20.075514,16.101030,1.129705,1.198219,20.644870,16.245090,1.058799,1.139515,20.299102,15.828158

In [ ]:
df_train

,AL,AK,AZ,AR,CA,CO,CT,FL,GA,ID,...,work_outside_home.4,shop.4,restaurant.4,spent_time.4,large_event.4,public_transit.4,anxious.4,depressed.4,worried_finances.4,tested_positive.4
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,1,0,0,...,31.113209,67.394551,36.674291,40.743132,17.842221,4.093712,10.440071,8.627117,37.329512,7.456154
1,0,0,0,0,0,1,0,0,0,0,...,33.920257,64.398380,34.612238,44.035688,17.808103,4.924935,10.172662,9.954333,32.508881,8.010957
2,0,0,0,0,0,0,0,0,0,0,...,31.604604,62.101064,26.521875,36.746453,13.903667,7.313833,10.388712,7.956139,36.745588,2.906977
3,0,0,0,0,0,0,0,0,0,0,...,35.115738,67.935520,38.022492,48.434809,27.134876,3.101904,10.498683,8.231522,38.680162,12.575816
4,0,0,0,0,0,0,0,0,0,1,...,35.129714,69.934592,38.242368,49.095933,22.683709,4.594620,9.878927,9.469290,28.344123,21.428589
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2695,0,0,0,0,0,0,0,0,0,0,...,39.209278,65.815096,37.046827,46.777637,21.952499,2.724187,14.658436,11.099308,33.154910,13.437482
2696,0,0,0,0,0,0,0,0,0,0,...,28.984491,66.126427,31.299807,40.399527,16.783327,14.058799,13.129031,10.492896,36.670282,5.040143
2697,0,0,0,1,0,0,0,0,0,0,...,34.346100,63.456270,30.829009,41.828908,20.597714,2.391852,16.940896,12.888275,42.452451,13.618256
2698,0,0,0,0,0,0,0,0,0,0,...,30.451071,67.477177,33.975333,45.837535,18.437260,3.088666,12.621144,10.096939,29.668802,9.512585
2699,0,0,0,0,0,0,0,0,0,0,...,33.803854,66.374538,38.493176,41.290529,19.225268,5.326241,13.157865,9.618114,37.744195,11.069423

- Google "python pandas find column index", 得 [https://stackoverflow.com/a/13021797/16672965](https://stackoverflow.com/a/13021797/16672965).

In [ ]:
df_train.columns.get_loc("cli")

37

In [ ]:
region_idx = list(range(37))
region_idx

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36]